/*------------------------------
    Table of Contents
---------------------------------
    I. Defaul Selectors
    II. Countdown Timer
	III. Social Icons
	IV. Animations
	V. Subscribe Form


*/



/*-------------------------------
    I. Defaul Selectors
---------------------------------*/
body {
color:#fff;
font-family: 'Roboto', sans-serif;
background: #2980b9 url('../images/bg.png') repeat 0 0;
-webkit-animation: 10s linear 0s normal none infinite loop;
-moz-animation: 10s linear 0s normal none infinite loop;
-ms-animation: 10s linear 0s normal none infinite loop;
-o-animation: 10s linear 0s normal none infinite loop;
animation: 10s linear 0s normal none infinite loop;
}

a:hover {text-decoration:none;}

h1, h2, h3{
	font-weight:100;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 40px;
}
h1 {	font-size: 60px;}
h2 { font-size:30px;}
h3 { font-size:23px;}

/*-------------------------------
    I. End of Defaul Selectors
---------------------------------*/

.tagline {
margin: 20px auto;
}

.logo {
padding-top: 25px;
font-size: 2.75em;
}

.form-group .email{
border-radius: 0;
-webkit-border-radius:0;
-moz-border-radius:0;
}




/*-------------------------------
    II. Countdown Timer
---------------------------------*/
#countdown li  p {
font-size:30px;
}
#countdown span {
font-size:16px;
text-align: center;
height: 40px;
display: block;
}
#countdown input {
font-family: 'Roboto', sans-serif!important;
font-weight:100!important;
}

#countdown li div {
display:block!important;
}

#countdown {
color:#fff;
text-align: center;
margin:0 auto;
font-size:90px;
padding:0;
}
.subtitle {
text-align:center;
}
.subtitle span {
padding:50px;
}
#countdown li {
display: inline-block;
font-weight:100;
line-height:60px;
}
/*-------------------------------
    II. End of Countdown Timer
---------------------------------*/



/*-------------------------------
    III. Social Icons
---------------------------------*/
.choice-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 21px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.choice-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.choice-icon:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icon-effect {
display: block;
clear: both;
margin: 20px 0;
}

.icon-effect .choice-icon {
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-effect .choice-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}


.icon-effect .choice-icon:hover {
	color: #3498db;
}

.icon-effect .choice-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/*-------------------------------
    III. End of Social Icons
---------------------------------*/


/*-------------------------------
    IV. Animations
---------------------------------*/
@-webkit-keyframes loop {
		from {background-position:0 0;}
		to {background-position: 500px 0;}
	}

	@-moz-keyframes loop {
		from {background-position:0 0;}
		to {background-position: 500px 0;}
	}

	@-ms-keyframes loop {
		from {background-position:0 0;}
		to {background-position: 500px 0;}
	}

	@-o-keyframes loop {
		from {background-position:0 0;}
		to {background-position: 500px 0;}
	}

	@keyframes loop {
		from {background-position:0 0;}
		to {background-position: 500px 0;}
	}

.delay {
-webkit-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
}

.delayTwo {
-webkit-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
}

.delayThree{
-webkit-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
}

.delayFour{
-webkit-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
}

.delayFive{
-webkit-animation-duration: 5s;
    -moz-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
}
/*-------------------------------
    IV. End of Animations
---------------------------------*/

/*-------------------------------
    V. Subscribe Form
---------------------------------*/
.form-inline .form-group {
/* margin: 0 20px; */
}
.subscribe-btn {
vertical-align:middle;
height: 38px;
line-height: 34px;
border: 1px solid #fff;
border-left:none;
background: none;
color: #fff;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-shadow: border-box;
margin-left: -3px;
}

.email-txt {
padding: 4px 10px 4px 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
height: 38px;
line-height: 38px;
border: 1px solid #fff;
background: none;
color: #fff;
text-indent: 20px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-moz-box-sizing: border-box;
box-shadow: border-box;
}

.email-txt:focus {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
border-color:#fff;
}
/* Mobile with 480 */
@media (max-width: 480px) {
.email-txt {
margin: 0 auto;
width: 90%;
}

.subscribe-btn {
border-left:1px solid #fff;
}

}
/*-------------------------------
    V. End of Subscribe Form
---------------------------------*/

.icon-celebrate{
    background: url(../images/celebrate.png) right no-repeat;
    background-position:center;
}

.icon-sweethome{
    background: url(../images/sweethome3.jpeg) right no-repeat;
    background-position:center;
    background-size: 115%;
}

.icon-gallery{
    background: url(../images/gallery.jpg) right no-repeat;
    background-position:center;
    background-size: 115%;
}

.icon-22{
    background: url(../images/22.jpg) right no-repeat;
    background-position:center;
    background-size: 130%;
}
